<div class="main-content">
    <h1>Tracker</h1>
    <div>
        <div class="inline-block">
            <mat-form-field>
                <mat-label>Add new player</mat-label>
                <input matInput type="text" [(ngModel)]="playerName" (keydown)="playerNameEntered($event)">
            </mat-form-field>
        </div>
        <div class="inline-block cursor-pointer" (click)="addPlayer()">
            <mat-icon>add</mat-icon>
        </div>

        <div class="pull-right padding-5">
            Hide missed
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
            (change)="hideMissed = $event.value">
                <mat-button-toggle [checked]="hideMissed === '1'" value="1">Yes</mat-button-toggle>
                <mat-button-toggle [checked]="hideMissed === '0'" value="0">No</mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-raised-button class="margin-h-5 margin-t-5" (click)="openResetDialog()">
                <mat-icon>refresh</mat-icon>
                Reset
            </button>
            <button mat-raised-button class="margin-h-5 margin-t-5" (click)="saveSession()">
                <mat-icon>save</mat-icon>
                Save
            </button>
            <button mat-raised-button class="margin-h-5 margin-t-5" (click)="loadSession()">
                <mat-icon>unarchive</mat-icon>
                Load
            </button>

            @if(!websocketConnected){
                <button mat-raised-button class="margin-h-5 margin-t-5" (click)="openConnectSessionDialog()">
                    @if(this.websocketReconnecting) {
                        <mat-icon class="spin">refresh</mat-icon>
                    } @else {
                        <mat-icon>connect_without_contact</mat-icon>
                    }
                    @if(this.websocketReconnecting) {
                        Reconnecting
                    } @else {
                        Connect to session
                    }
                    
                    
                </button>
            }
            @if(websocketConnected) {
                <button mat-raised-button class="margin-h-5 margin-t-5" (click)="sendSyncRequest()">
                    <mat-icon>sync_alt</mat-icon>
                    Sync session
                </button>
                <mat-icon #tooltip="matTooltip" matTooltip="Copy session Id" class="cursor-pointer margin-h-5 align-v-middle" (click)="copySessionIdToClipboard()">file_copy</mat-icon>
            }
        </div>
    </div>
  
    <table mat-table class="main-table">
        <thead>
          <tr>
            <th class="min-width-200">
                <mat-form-field>
                    <mat-label>Region</mat-label>
                    <input class="min-width-200" type="text" matInput [formControl]="regionFormControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayRegionFn"
                    (optionSelected)="updateRegionList($event.option.value)">
                        @for (option of getFilteredRegionOptions() | async; track option.id) {
                        <mat-option [value]="option">{{option.name}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </th>
            @for (player of playerList; track player.id) {
              <th class="player-name">
                <div class="player-name-hover-invisible">
                    {{ player.name }}
                </div>
                <div class="player-name-hover-visible">
                    <input type="text" value="{{player.name}}" (change)="player.name=$event.target.value;sendRenamePlayerMessage(player.id, $event.target.value)"/>
                </div>
                <div class="text-top player-name-hover-visible cursor-pointer" (click)="openDeleteDialog(player)">
                    <mat-icon>delete</mat-icon>
                </div>
                <div class="player-stats">
                    Fainted:{{getFaintedNumber(player.id)}}
                </div>
              </th>
            }
          </tr>
        </thead>
        <tbody>
        @for (location of locationList; track location.id) {
            <tr class="{{hideMissed === '1' ? 'hide-missed': ''}}">
                <td class="min-width-200 text-center {{getLocationClass(location.id)}}">{{ location.name }}</td>
                @for (player of playerList; track player.id) {
                    <td>
                        <div class="inline-block">
                            <form class="pokemon-select">
                                <mat-form-field>
                                <mat-label>Pokemon</mat-label>
                                <input class="min-width-300" type="text" matInput [formControl]="getControl(location, player)" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPokemonFn"
                                (optionSelected)="onPokemonSelected(location, player, $event.option.value)">
                                    @for (option of getFilteredPokemonOptions(location, player) | async; track option.id) {
                                    <mat-option [value]="option">{{option.name}}</mat-option>
                                    }
                                </mat-autocomplete>
                                </mat-form-field>
                            </form>
                                <div>
                                    <div class="width-10 inline-block align-v-middle">
                                        @if (getPokemonMovesetUrl(location, player) !== '') {
                                        <a class="moveset-link" href="{{getPokemonMovesetUrl(location, player)}}" target="_blank" #tooltip="matTooltip" matTooltip="Open moveset">
                                            <mat-icon>
                                                gamepad_circle_right
                                            </mat-icon>
                                        </a>
                                        }
                                    </div>
                                    <div class="width-85 inline-block">
                                        <div class="half-width text-center inline-block type-{{getPokemonDetails(getPlayerMon(player, location).pokemonId).type1}}">
                                            {{ getPokemonDetails(getPlayerMon(player, location).pokemonId).type1 }} 
                                        </div>
                                        <div class="half-width text-center inline-block type-{{getPokemonDetails(getPlayerMon(player, location).pokemonId).type2}}">
                                            {{ getPokemonDetails(getPlayerMon(player, location).pokemonId).type2 }}
                                        </div>
                                    </div>
                                </div>
                            
                            @if(location.status !== 'not_visited' && getPlayerMon(player, location)) {
                                <div class="text-center margin-b-5">
                                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                                    (change)="onPokemonStatusSelected(location, player, $event.value)">
                                        <mat-button-toggle [checked]="getPlayerMon(player, location).status === 'none'" value="none">None</mat-button-toggle>
                                        <mat-button-toggle [disabled]="!hasPokemonAtLocation(player,location)" [checked]="getPlayerMon(player, location).status === 'missed'" value="missed">Missed</mat-button-toggle>
                                        <mat-button-toggle [disabled]="!hasPokemonAtLocation(player,location)" [checked]="getPlayerMon(player, location).status === 'caught'" value="caught">Caught</mat-button-toggle>
                                        <mat-button-toggle [disabled]="!hasPokemonAtLocation(player,location)" [checked]="getPlayerMon(player, location).status === 'fainted'" value="fainted">Fainted</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            }
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
      </table>
    
</div>
