.mat-mdc-form-field-type-mat-input {
    width: 300px;
    margin: 5px;
}

div.mat-mdc-form-field-bottom-align {
    display: none !important;
}

.mat-button-toggle-group-appearance-standard {
    border: solid white 1px !important;
}

.mat-button-toggle-label-content {
    color: white;
}

.mat-button-toggle-checked .mat-button-toggle-label-content {
    color: black;
}