body {
    background-color: gray;
    color: white;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    margin: 0% auto;
}

.main-table {
    background-color: rgb(101, 122, 139);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(56, 56, 56);
    border-spacing: 0px;
}

.main-table tr:hover{
    background-color: rgb(48, 62, 73);
}

.main-table tr:nth-child(2n){
    background-color: rgb(82, 99, 112);
}

.main-table tr:hover:nth-child(2n){
    background-color: rgb(23, 33, 41);
}

.player-name {
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    height: 35px;
}

.pull-right {
    float: right;
}

.player-name:hover .player-name-hover-visible { 
    display: inline-block;
}

.player-name:hover .player-name-hover-invisible { 
    display: none;
}

.player-name-hover-visible { 
    display: none;
}

.main-table th {
    border-bottom: solid white 1px;
}

.main-table td {
    border-bottom: solid white 1px;
}

.cursor-pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.inline-block {
    display: inline-block;
}

.min-width-400 {
    min-width: 400px;
}

.min-width-300 {
    min-width: 300px;
}

.min-width-200 {
    min-width: 200px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.margin-b-5 {
    margin: 5px;
}

.margin-t-5 {
    margin: 5px;
}

.margin-h-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.hide-missed:has(> td.missed-class) {
    display: none;
}

.active-class {
    color: #ffd04e;
}

.missed-class {
    color: #ffd667;
}

.fainted-class {
    color: #ff5a5a;
}

.caught-class {
    color: #4eff4e;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-top {
    vertical-align: top;
}

.align-v-middle {
    vertical-align: middle;
}

.min-width-200 .mat-mdc-form-field-type-mat-input {
    width: 200px;
    margin: 5px;
}

.mat-mdc-form-field-type-mat-input {
    width: 300px;
    margin: 5px;
}

div.mat-mdc-form-field-bottom-align {
    display: none !important;
}

.mat-button-toggle-group-appearance-standard {
    border: solid white 1px !important;
}

.mat-button-toggle-label-content {
    color: white;
}

.mat-button-toggle-checked .mat-button-toggle-label-content {
    color: black;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin {
    animation: spin 4s infinite linear;
}

.error-snackbar .mat-mdc-snackbar-surface {
    background-color: #953a3a !important;
    color: white !important;
}

.success-snackbar > .mat-mdc-snackbar-surface {
    background-color: green !important;
    color: white !important;
}