.type-Normal {
    background-color: #aa9;
}

.type-Fire {
    background-color: #f42;
}

.type-Water {
    background-color: #39f;
}

.type-Electric {
    background-color: #fc3;
}

.type-Grass {
    background-color: #7c5;
}

.type-Ice {
    background-color: #6cf;
}

.type-Fighting {
    background-color: #b54;
}

.type-Poison {
    background-color: #a59;
}

.type-Ground {
    background-color: #db5;
}

.type-Flying {
    background-color: #89f;
}

.type-Psychic {
    background-color: #f59;
}

.type-Bug {
    background-color: #ab2;
}

.type-Rock {
    background-color: #ba6;
}

.type-Ghost {
    background-color: #66b;
}

.type-Dragon {
    background-color: #76e;
}

.type-Dark {
    background-color: #754;
}

.type-Steel {
    background-color: #aab;
}

.type-Fairy {
    background-color: #e9e;
}